.map-grid {


    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
    
}

.map-nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.map-main {
   background-color: lightgreen;
   display: grid;
   grid-template-columns: 4fr 6fr;
   overflow: auto;

   
   
    
}
.alerts-list{
    background-color: blue;
    overflow: auto;
}
.map-box{
    padding: 15px;
    /* background-color: red; */
    overflow: auto;
}
.li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-bottom: 1px solid #e2e8f0;
    
}